@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

#home{
    width: auto;
    height: 100vh;
}

#about{
    width: auto;
    height: 100vh;
}

#donate{
    width: auto;
    height: 100vh;
}

nav{
    z-index: 100;
    text-align: center;
    width: 100vw;
    height: 12vh;
    background: linear-gradient(141deg, rgba(60, 0, 255, 0.5), rgba(255, 217, 0, 0.5));
    position: fixed;
}

.nav-bar ul li{
    padding: 2vw;
    display: inline-block;
    list-style: none;
}

.nav-bar ul li::after{
    content: '';
    width: 0%;
    height: 0.3vh;
    background: rgb(92, 255, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-bar ul li:hover::after{
	width: 100%;
}

.nav-bar ul li a{
    color: white;
    font-size: 1.6vw;
    text-decoration: none;
    text-align: center;
    transition: 0.4s;
}

.nav-bar ul li a:hover{
    color: rgb(92, 255, 255);
}

h1{
    color: white;
    transform: translateY(15vh);
    text-align: center;
}

::-webkit-scrollbar{
    width: 10px;
    background: linear-gradient(rgb(104, 0, 136), rgb(255, 217, 0));
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0, 0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(0,0,0, 0.5);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(0,0,0, 0.25);
}
